.card{
    width: 20rem;
    border: 1px solid #ADACAC;
    background-color: #F9EBEB;
    padding: 10px;
}
.home-header {
    text-align: left;
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-group{
    display: flex;
}
.card-link{
    display: contents;
}
.card-body{
    text-align: left;
}
.card-header{
    text-align: right;
}
hr{
    color: #ADACAC !important;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-size: 16px;
}
.vaccine-table{
    text-align: left;
    margin-top: 50px;
}
.vaccination-drive-button {
    display: flex;
    margin: 10px;
}
.button-section{
    text-align: right;
}
.form-input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.form-select{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 7px;
    width: 240px;
    height: 30px;
}
#grade{
    margin-left: 15px;
}
.gender{
    margin-top: -30px;
    margin-left: -20px;
    width: 50px !important;
    height: 10px !important;
}
#outlined-multiline-static{
    width: 270px;
    font-size:14px ;
}
.submit-button{
    margin-top: 20px;
}
.popup-header{
    text-align: center;
    font-size: 18px;
}
.gender-class{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: baseline;
}
.form-select-section{
    display: flex;
}
form{
    font-size: 14px;
}
.popup-section{
    background-color: #D0CFCF;
    padding: 20px;
    margin-top: -32px;
    margin-bottom: 10px;
    margin-left: -32px;
    width: 396px;
}
.upload-students-content{
    text-align: center;
    font-size: 13px;
}
.download-template{
    display: block;
    cursor: pointer;
    font-size:14px;
    color: blue;
    text-decoration: underline;
}
#dob{
    width: 213px;
    margin-top: 20px;
    margin-left: 10px;
}
.upload-file{
    display: initial;
    border: 1px solid white;
    padding: 1px;
}