.card{
    width: 20rem;
    border: 1px solid #ADACAC;
    background-color: #F9EBEB;
    padding: 10px;
}
.home-head {
    text-align: left;
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-group{
    display: flex;
}
.card-link{
    display: contents;
}
.card-body{
    text-align: left;
}
.card-header{
    text-align: right;
}
hr{
    color: #ADACAC !important;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-size: 16px;
}
.data1{
    text-align: left;
    margin-top: 50px;
}
.vaccination-drive-button {
    display: flex;
    margin: 10px;
}
.bt1{
    text-align: right;
}
.input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.input1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 240px;
    height: 30px;
}
#grade{
    margin-left: 15px;
}
.gender{
    margin: 10px;
}
input{
    margin: auto;
}
#outlined-multiline-static{
    width: 270px;
}
.btn2{
    margin-top: 20px;
}
.header2{
    text-align: center;
    font-size: 18px;
}