.card{
    width: 20rem;
    border: 1px solid #ADACAC;
    background-color: #F9EBEB;
    padding: 10px;
}
.home-head {
    text-align: left;
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-group{
    display: flex;
}
.card-link{
    display: contents;
}
.card-body{
    text-align: left;
}
.card-header{
    text-align: right;
}
hr{
    color: #ADACAC !important;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-size: 16px;
}
.data1{
    text-align: left;
    margin-top: 50px;
}
.vaccination-drive-button {
    display: flex;
    margin: 10px;
}
.bt1{
    text-align: right;
}
.input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.input1{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 7px;
    width: 240px;
    height: 30px;
}
#grade{
    margin-left: 15px;
}
.gender{
    margin-top: -30px;
    margin-left: -20px;
    width: 50px !important;
    height: 10px !important;
}
#outlined-multiline-static{
    width: 270px;
    font-size:14px ;
}
.btn2{
    margin-top: 20px;
}
.header2{
    text-align: center;
    font-size: 18px;
}
.g1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: baseline;
}
.inp1{
    display: flex;
}
form{
    font-size: 14px;
}
.header3{
    background-color: #D0CFCF;
    padding: 20px;
    margin-top: -32px;
    margin-bottom: 10px;
    margin-left: -32px;
    width: 396px;
}
.btn3{
    background-color: #E6E4E4 !important;
    border: 1px solid #8B8989 !important;
    color: black !important;
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
}
.section2{
    text-align: center;
    font-size: 13px;
}
.link1{
    display: block;
    cursor: pointer;
}
#dob{
    width: 213px;
    margin-top: 20px;
    margin-left: 10px;
}