.card{
    width: 20rem;
    border: 1px solid #ADACAC;
    background-color: #F9EBEB;
    padding: 10px;
}
.home-head {
    text-align: left;
}
.card-group{
    display: flex;
}
.card-link{
    display: contents;
}
.card-body{
    text-align: left;
}
.card-header{
    text-align: right;
}
hr{
    color: #ADACAC !important;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-size: 16px;
}